@charset "UTF-8";
/* CSS Document */

/******************
Header
******************/
header {
	background:white;
	float: left;
	width:100%;
}

/*******************
Navigation Bar
*******************/
nav {
	display:none;
}

/******************
Body
******************/
body {
	min-width:398px;
}

body h1, p {
	text-align:center;
	display:block;
	margin:2% auto;
	max-width:75%;
}

body div {
	padding:5%;
}

.sessionDevidingStripe{
	background:url(../Images/session_dividing_stripe.png) repeat-X;
	width: 100%;
	margin:0;
	padding:0;
	height: 11px;
}

/** Section 0**/
#section_0 {
	display:none;
}

/** Section 1**/
#section_1 img{
	display:block;
	margin:auto;
	height:10em;
	width:10em;
}

#section_1 h1 {
	font-size:32px;
	color:#6d6e71;
}

#section_1 p {
	font-size:18px;
	color:#6d6e71;
}

/** Section 2**/
#section_2{
	background:#f5d328;
}

#section_2 iframe{
	width:80%;
	height:210px;
	display:block;
	margin:auto;
}

#section_2 h1 {
	font-size:24px;
	color:#6d6e71;
}

#section_2 P {
	font-size:15px;
	color:#6d6e71;
}

/** Section 3**/
#section_3{
	background:#66ccff;
}

#section_3 h1 {
	font-size:24px;
	color:#6d6e71;
}

#section_3 P {
	font-size:15px;
	color:#6d6e71;
}

#section_3 img {
	display:block;
	margin:5% auto;
}

/** Section 4**/
.fullConatact {
	display:none;
}
	
#section_4 h1, a {
	font-size:24px;
	color:#66ccff;
}

#section_4 p {
	font-size:15px;
	color:#66ccff;
}

/*******************
Footer
*******************/
body footer {
	color:#6D6E71;
	font-size:12px;
}

	
	
	

